<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary mt-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <h4 class="m-2 mb-4">Home page</h4>
<hr>
  <!-- Upper Case Input -->

  <h5 class="m-2">Upper Caes Input Box</h5>
  <div class="mb-3 col-md-3 m-2">
    <label for="inputtext" class="form-label">Name</label>
    <input
      type="text"
      appUpperCase
      [(ngModel)]="textValue"
      class="form-control"
      id="inputtext"
      placeholder="Enter name"
    />
  </div>
<hr>
  <!-- API call data -->
  <h4>Products Data Table</h4>
  <div class="d-flex flex-row-reverse">
    <button type="button" (click)="encryptData()" class="btn btn-primary ">Add Product</button>
    <button type="button" (click)="decryptData()" class="btn btn-primary ">Decrypt</button>

    
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">Brand</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
        <th class="col">Price</th>
        <th class="col">Rating</th>
        <th class="col">Stock</th>
        <th class="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let item of produtsData; let i = index">
        <th scope="row">{{ i+1 }}</th>
        <td>{{ item.brand }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.rating }}</td>
        <td>{{ item.stock }}</td>
        <td>
          <span (click)="onProductEdit(item.id)">
            <i class="bi bi-pencil-square icon-size edit-icon"></i>
          </span>
          <span (click)="onProductDelete(item.id)">
            <i class="bi bi-trash3 icon-size trash-icon"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
